body{
    background: #2A5D5A;
} 
h1{
 font-size: 64px;
 font-weight: 700;
 line-height: 77.45px;
 color: white;
 background: #311313;
text-align: center;
    margin: 20px 400px;
}
.a{
    background-color: black;
    border: 10px solid red;
    margin: 20px 220px;
}
p{
    background: #1FE8B7;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    margin: 50px;
    padding: 54px;
}


















